<!DOCTYPE html>
<html>
<head>
  <title>Daily Page: {{.FullDate}}</title>
</head>
<style type="text/css">
  .add {
    color: green;
  }

  .sub {
    color: red;
  }
</style>
<body>

<h1>{{.FullDate}}</h1>
<h2>{{.WordTotal}} words</h2>
<h3>Added <span class="add">{{.Stat.WordAdd}}</span> words</h3>
<h3>Deleted <span class="sub">{{.Stat.WordSub}}</span> words</h3>

<h3>Files Changed</h3>
{{range $index, $doc := .DocList}}
  <li>{{$doc.Title}} 
    {{with index .RevList $index}}
    <span>{{.UserName}}</span>
    <span>{{.WordCount}}</span>
    <span>{{.ModDate}}</span>
    <div>{{range .WordFreq}}<span style="font-size:{{.Count}}pt">{{.Word}}</span> {{end}}</div>
    {{end}}
  </li>
{{end}}

</body>
</html>