<!DOCTYPE html>
<html>
<head>
  <title>Daily Page: {{.FullDate}}</title>
</head>
<style type="text/css">
  .add {
    color: green;
  }

  .sub {
    color: red;
  }

  li {
    display: inline-block;
    border: 2px solid #EEE;
    margin: 20px;
  }
  
  header {
    background: #BBF;
    margin: 0;
    padding: 10pt;
    font-size: 20pt;
    text-align: center;
  }

  header a {
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 800;
    padding: 0;
    color: #006;
    width: 100%;
  }

  header a:hover {
    color: #33F;
  }

</style>
<body>

<header><a href="/">Summary</a></header>

<h1><a href="/day/{{.ModDate}}">{{.FullDate}}</a></h1>
<h2>Title</h2>

<h3>Revisions</h3>
{{range $index, $doc := .Stat.RevList}}
  <li>
      <h2>{{.WordCount}} Words</h2>
      <h3>Rev {{.RevId}}</h3>
      <h3>{{.UserName}}</h3>      
      <h3>{{.GetTime}}</h3>
      
      <table>    
      {{range .WordFreq}}
      <tr>
        <td>{{.Word}}</td>
        <td><span style="width:{{.Count}}0px; background:#0F0; display:block;">{{.Count}}</span></td>
      </tr>
      {{end}}
      </table>
  </li>
{{end}}

</body>
</html>